body {
  width: 100%;
  height: 100%;
}

/* ---------------------------------------------------
    SIDEBAR MOBILE STYLE
----------------------------------------------------- */

#sidebar-mobile {
  display: none;
}

.patient {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  height: 180px;
}

.patient img {
  width: 100%;
  max-width: 100px;
  border: 5px solid white;
  box-sizing: content-box;
  border-radius: 5px;
}

.patient span {
  color: #949494;
}

.menu-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu-items li {
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.menu-items li.active {
  background-color: #e6e6e6;
}

.menu-items li a {
  color: #949494;
  text-decoration: none;

}

/* ---------------------------------------------------
    PAGE STYLE
----------------------------------------------------- */

/* ---------------------------------------------------
    FLOAT BUTTON STYLE
----------------------------------------------------- */


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 767.98px) { 
  #sidebar-mobile {
    display: block;
  }

  .navbar-collapse {
    height: 80vh;
    overflow: scroll;
  }

}
