<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/index.css">
    <title>Lista de presentes</title>
</head>

<body>
    <div id="app">
        <div class="menu-container">
            <nav class="menu">
                <span class="menu-user">Olá, {{userName}}</span>
                <div class="menu-logout"><img src="./img/sign-out.svg" alt="icon sign-out"></div>
            </nav>
        </div>

        <div class="container-description">
            <!-- <img src="" alt=""> -->
            <p class="text-description">Agradecemos por participar desse momento!</p>
            <p class="text-description"> Abaixo, uma lista de itens que ajudarão a deixar nossa casa com cara de LAR.
            </p>
            <p class="text-description mt-3">As imagens são apenas sugestões.</p>
        </div>

        <div class="flex-container">
            <div class="card" v-for="item in products">
                <div class="card-content">
                    <img class="card-cancel-sign" src="./img/cancel.svg" v-if="item.signed" @click="removeItemGiftList(item.id)" />
                    <img class="card-image" :src="item.imgUrl" />
                    <p class="card-description">{{item.name}}</p>
                </div>
                <div class="card-footer">
                    <button class="card-btn" type="button" :disabled="item.signed"
                        v-text="item.signed ? 'Assinado':'Quero dar esse'" @click="addItemGiftList(item.id)"></button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://www.gstatic.com/firebasejs/6.5.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-database.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./js/app.js"></script>
</body>

</html>