/* #771414
#beba46
#8bd3fb */

body {
    background-color: #beba46;
}

.logo {
    display: inline-block;
    width: 50px;
    height: 50px;
}

.menu {
    background-color: #771414;
    height: 70px;
}

.menu ul {
    display: inline-block;
}

.menu li {
    list-style: none;
    display: inline;
    line-height: 70px;
    margin: 0 20px;
}

.menu a {
    color: #beba46;
    text-decoration: none;
    font-size: 1.2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}