@font-face { font-family: "Flaticon"; src: url("../font/flaticon/flaticon.eot"); src: url("../font/flaticon/flaticon.eot#iefix") format("embedded-opentype"),  url("../font/flaticon/flaticon.woff") format("woff"),  url("../font/flaticon/flaticon.ttf") format("truetype"),  url("../font/flaticon/flaticon.svg") format("svg"); font-weight: normal; font-style: normal; }
[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after { font-family: Flaticon; font-size: 30px; font-style: normal; margin-left: 0px; }
.flaticon-facebook:before { content: "\e000"; }
.flaticon-google:before { content: "\e001"; }
.flaticon-instagram:before { content: "\e002"; }
.flaticon-linkedin:before { content: "\e003"; }
.flaticon-pinterest:before { content: "\e004"; }
.flaticon-twitter:before { content: "\e005"; }