.logo {
    max-width: 180px;
}

/* Navbar Top */
.navbar-top {
    padding: .5rem 2rem;
}
.navbar-top .nav-item .nav-link {
    padding: 0 .5rem;
    border-right: 1px solid #c9c9c9;
}
.navbar-top .nav-item:nth-child(4) .nav-link {
    border-right: unset;
}
.navbar-top .nav-item.call-center a {
    border-right: unset;
    font-weight: 600;
    color: #244a87;
}

/* Navbar Bottom */
.navbar-bottom {
    padding: .5rem 2rem;
    background-color: #244a87;
    color: #c9c9c9;
}
.navbar-bottom .nav-item {
    padding: .5rem;
}
.navbar-bottom .nav-item .nav-link {
    color: #c9c9c9;
    padding: 0;
    font-weight: 600;
}
.navbar-bottom .nav-item:hover .nav-link {
    color: #fff;
}
.navbar-bottom .nav-item .nav-link.active {
    color: #c9c9c9;
}
.navbar-bottom .nav-item .nav-link.active:after {
    content: "";
    display: block;
    width: 40px;
    border-bottom: 2px solid #fff;
}

/* Input de Pesquisa */
[for="input-search"]{
    font-weight: 600;
}
.input-search {
    background-color: #2f75bb;
    color: #fff;
    border-radius: 5px;
    border: unset;
    width: 240px;
    height: 30px;
}

/* Carousel */
.carousel-item img {
    max-height: 450px;
}

/* Article - Padrão dos artigos */
.article-image {}
.article-title {
    text-align: center;
    font-size: 1rem;
    color: #2f75bb;
}
.article-paragraph {
    text-align: justify;
    font-size: 0.9rem;
    color: #244a87;
}

/* Exames */
.exams {}

/* Menu Exames */
.menu-exams {

}
.menu-exams__block {
    background-color: #2f75bb;
    padding: 15px;
}
.menu-exams__block.menu-exams__block--bg-color {
    background-color: #244a87;
}
.menu-exams__block a {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: unset;
    display: block;
}
.menu-exams__block figure {
    margin-bottom: 5px;
}
.menu-exams__block img {
    max-width: 80px;
}

/* Sobre o IMEB / Banners */
.about-imeb__banners-wrap {
    display: flex;
    justify-content: center
}
.about-imeb__banners-wrap img {
    max-width: 250px;
    margin: 0 15px;
}

/* O que estão falando sobre o IMEB */
.talking-about-imeb figure {
    margin-bottom: 0;
}
.talking-about-imeb__text span{
    float: right;
    color: #244a87;
    font-weight: 600;
}

/* Helpers */
.section-title h2 {
    color: #244a87;
    margin-bottom: .5rem;
    line-height: 1;
    text-transform: uppercase;
}
.section-title h2 span {
    display: block;
    color: #2f75bb;
    line-height: 1;
}
.border-title:after {
    content: "";
    display: block;
    width: 100%;
    max-width: 350px;
    border-bottom: 2px solid #2f75bb;
}
.max-w-100.border-title:after {
    max-width: unset;
}