:root {
    --primary-color: #00988e;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
    background-attachment: fixed;
    font-size: 12px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: #fff;
}

/* LOGIN */
#login {
    height: 100vh;
    color: var(--primary-color);
}

#login .wrapper-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    margin-bottom: 0;
}

#login .wrapper-logo img{
    width: 100%;
    max-width: 200px;
}

#login .form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login .input-field>label {
    color: var(--primary-color);
}

#login .input-field input {
    color: var(--primary-color);
}

#login .input-field input::placeholder {
    color: var(--primary-color);
}

#login .btn-submit {
    width: 100%;
    font-weight: 600;
    margin-bottom: 0.8rem;
}

#login .forgot-account {
    color: var(--primary-color);
    font-size: 16px;
}
/* FIM LOGIN */

/* ESQUECI A SENHA */
#forgot-account .nav-wrapper {
    padding: 0 15px;
    display: flex;
    background-color: var(--primary-color);
}
#forgot-account .description {
    color: var(--primary-color);
    max-width: 220px;
    margin: 30px auto 0 auto;
    text-align: center;
}
#forgot-account .wrapper-email {
    margin-top: 1rem;
}
#forgot-account .btn {
    background-color: var(--primary-color);
    margin-top: 30px;
    width: 100%;
}
/* FIM ESQUECI A SENHA */

/* DADOS ANTROPOMÉTRICOS DO USUÁRIO */
#user-anthropometric-data .collection{
    margin-top: 1rem;
    border: 0;
}

#user-anthropometric-data .collection-item {
    color: var(--primary-color);
    border: 0;
}
#user-anthropometric-data .collection-item:nth-child(odd) {
    background-color: #f5f5f5;
}
#user-anthropometric-data .collection-item .secondary-content {
    font-weight: 600;
    color: var(--primary-color);
}

#user-anthropometric-data .custom-data-group {
    margin-top: 1rem;
    display: flex;
    color: var(--primary-color);
}
#user-anthropometric-data .custom-data-group .date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex: 1;
    background-color: #f5f5f5;
    margin-right: 2px;
}
#user-anthropometric-data .custom-data-group .date span:last-child,
#user-anthropometric-data .custom-data-group .data > div span:last-child {
    font-weight: 600;
}
#user-anthropometric-data .custom-data-group .data {
    flex: 1;
}
#user-anthropometric-data .custom-data-group .data > div {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f5f5f5;
    padding: 5px 0;
}
#user-anthropometric-data .custom-data-group .data > div:first-child {
    margin-bottom: 2px;
}
/* FIM DADOS ANTROPOMÉTRICOS DO USUÁRIO */

/* STYLE GERAL */
.row {
    margin-bottom: 0;
}

nav .nav-wrapper {
    padding: 0 15px;
    display: flex;
    background-color: var(--primary-color);
}
.title {
    margin: 0 16px;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
}
/* FIM STYLE GERAL */

/* ANIMAÇÕES */
@keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.4;
    }

    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.4;
    }

    to {
        opacity: 1.0;
    }
}

.blink {
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}
/* FIM ANIMAÇÕES */