:root {
    --primary-color: #00988e;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
    background-attachment: fixed;
    font-size: 12px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: #fff;
}

#content {
    padding-bottom: 60px;
}

#content div nav {
    position: fixed;
    top: 0;
    z-index: 10;
}

#content > div:not(#login) {
    padding-top: 56px;
}
#content > div#dietary-prescription,
#content > div#replacement-list {
    padding-top: 66px;
}

/* LOGIN */
#login {
    height: 100vh;
    color: var(--primary-color);
}

#login .wrapper-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    margin-bottom: 0;
}

#login .wrapper-logo img{
    width: 100%;
    max-width: 200px;
}

#login .form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login .input-field>label {
    color: var(--primary-color);
}

#login .input-field input {
    color: var(--primary-color);
}

#login .input-field input::placeholder {
    color: var(--primary-color);
}

#login .btn-login-enter {
    width: 100%;
    font-weight: 600;
    margin-bottom: 0.8rem;
}

#login .forgot-account {
    color: var(--primary-color);
    font-size: 16px;
}
/* FIM LOGIN */

/* ESQUECI A SENHA */
#forgot-account .nav-wrapper {
    padding: 0 15px;
    display: flex;
    background-color: var(--primary-color);
    justify-content: initial;
}
#forgot-account .description {
    color: var(--primary-color);
    max-width: 220px;
    margin: 25px auto 0 auto;
    text-align: center;
}
#forgot-account .wrapper-email {
    margin-top: 1rem;
}
#forgot-account .btn {
    background-color: var(--primary-color);
    margin-top: 30px;
    width: 100%;
}
/* FIM ESQUECI A SENHA */

/* DADOS ANTROPOMÉTRICOS DO USUÁRIO */
#user-anthropometric-data {
    
}
#user-anthropometric-data .collection{
    margin-top: 1rem;
    border: 0;
}

#user-anthropometric-data .collection-item {
    color: var(--primary-color);
    border: 0;
}
#user-anthropometric-data .collection-item:nth-child(odd) {
    background-color: #f5f5f5;
}
#user-anthropometric-data .collection-item .secondary-content {
    font-weight: 600;
    color: var(--primary-color);
}

#user-anthropometric-data .custom-data-group {
    margin-top: 1rem;
    display: flex;
    color: var(--primary-color);
}
#user-anthropometric-data .custom-data-group .date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex: 1;
    background-color: #f5f5f5;
    margin-right: 2px;
}
#user-anthropometric-data .custom-data-group .date span:last-child,
#user-anthropometric-data .custom-data-group .data > div span:last-child {
    font-weight: 600;
}
#user-anthropometric-data .custom-data-group .data {
    flex: 1;
}
#user-anthropometric-data .custom-data-group .data > div {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f5f5f5;
    padding: 5px 0;
}
#user-anthropometric-data .custom-data-group .data > div:first-child {
    margin-bottom: 2px;
}
/* FIM DADOS ANTROPOMÉTRICOS DO USUÁRIO */

/*  PRESCRIÇÃO DIETÉTICA*/
#dietary-prescription {

}

#dietary-prescription .collapsible-header {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-color);
}
#dietary-prescription .collapsible-header .meal {
    font-size: 1rem;
}
#dietary-prescription .collapsible-header .time-and-place {
    text-align: center;
}
#dietary-prescription .collapsible-header .time-and-place span:last-child {
    font-weight: 600;
    font-size: 1rem;
}

/*  FIM PRESCRIÇÃO DIETÉTICA*/

/* LISTA DE SUBSTITUIÇÃO */
#replacement-list {
    
}
/* FIM LISTA DE SUBSTITUIÇÃO */

/* LISTA DE COMPRAS */
#grocery-list {
    
}
#grocery-list nav {
    margin-bottom: 2px;
}
#grocery-list .list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-bottom: 1px solid #efefef;
    height: 50px;
}

#grocery-list .list-item label {
    color: #555;
    flex: 1;
}

#grocery-list .list-item__wrap-right {
    display: flex;
    align-items: center;
}

#grocery-list .list-item__quantity {
    margin-right: 10px;
}

#grocery-list .list-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    border-left: 1px solid #efefef;
    height: 50px;
}
#grocery-list .list-item__icon img {
    width: 25px;
}
#grocery-list [type="checkbox"]:checked ~ span {
    text-decoration: line-through;
    color: #ccc; 
}
/* FIM LISTA DE COMPRAS */

/* NOTIFICAÇÕES */
#notifications {
    
}
#notifications .switch label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 15px;
    font-size: 1rem;
    color: #555;
    border-bottom: solid 1px #ccc;
}
/* FIM NOTIFICAÇÕES */

/* RECEITAS NUTRICIONAIS */
#nutritional-recipes {
    
}
#nutritional-recipes .collection {
    border:none;
}
#nutritional-recipes .collection .collection-item {
    font-size: 1rem;
    color: var(--primary-color);
    padding: 15px 20px;
}
/* FIM RECEITAS NUTRICIONAIS */

/* DETALHES DA RECEITA */
#recipe-details .nav-wrapper{
    justify-content: initial;
}
#tabs-recipe {
    margin-bottom: 5px;
}
#recipe-details .tabs .tab a {
    color: rgba(0, 152, 142, .7);
}
#recipe-details .tabs .tab a:hover, .tabs .tab a.active {
    color: var(--primary-color);
}
#recipe-details .tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: rgba(0, 152, 142, .05);
}
#recipe-details .tabs .indicator {
    background-color: var(--primary-color);
}

#recipe-details #ingredients,
#recipe-details #method-of-preparation {
    padding: 0 15px;
}
#recipe-details #ingredients .header-list,
#recipe-details #method-of-preparation .header-list  {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    background-color: #efefef;
    color: var(--primary-color);
    margin: 10px 0 0 0;
}
#recipe-details #ingredients ul li {
    list-style-type: disc;
    margin: 0 30px 5px;
    text-align: justify;
    font-size: 1rem;
}
#recipe-details #method-of-preparation ul li {
    list-style-type: decimal;
    margin: 0 30px 5px;
    text-align: justify;
    font-size: 1rem;
}
/* FIM DETALHES DA RECEITA */

/* ORIENTAÇÃO NUTRICIONAL */
#nutritional-orientation {
    
}
#nutritional-orientation .text-content {
    color: var(--primary-color);
    font-size: 1.1rem;
    text-align: justify;
}
/* FIM ORIENTAÇÃO NUTRICIONAL */

/* NAVIGATIONS BOTTOM */
#navigation-bottom {
    display: none;
    background-color: #e6e6e6;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    justify-content: space-around;
    height: 60px;
}
#navigation-bottom .navigation-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#navigation-bottom .navigation-item img {
    width: 100%;
    max-width: 25px;
}
/* FIM NAVIGATIONS BOTTOM */

/* STYLE GERAL */
.row {
    margin-bottom: 0;
}

nav {
    margin-bottom: 10px;
}

nav .nav-wrapper {
    padding: 0 15px;
    display: flex;
    background-color: var(--primary-color);
    justify-content: space-between;
}
.title {
    margin: 0 16px;
    text-align: left;
    font-size: 1.3rem;
    font-weight: 600;
}
/* FIM STYLE GERAL */

/* ICONS*/
.icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
}
.icon-resume {
    background-image: url('../img/icons/resume.svg');
    transition: .4s;
}
.icon-resume.active {
    background-image: url('../img/icons/resume-active.svg');
    margin-bottom: 8px;
    transition: .4s;
}

.icon-contract {
    background-image: url('../img/icons/contract.svg');
    transition: .4s;
}
.icon-contract.active {
    background-image: url('../img/icons/contract-active.svg');
    margin-bottom: 8px;
    transition: .4s;
}

.icon-groceries {
    background-image: url('../img/icons/groceries.svg');
    transition: .4s;
}
.icon-groceries.active {
    background-image: url('../img/icons/groceries-active.svg');
    margin-bottom: 8px;
    transition: .4s;
}
.icon-recipe {
    background-image: url('../img/icons/recipe.svg');
    transition: .4s;
}
.icon-recipe.active {
    background-image: url('../img/icons/recipe-active.svg');
    margin-bottom: 8px;
    transition: .4s;
}
.icon-swap {
    background-image: url('../img/icons/swap.svg');
    transition: .4s;
}
.icon-swap.active {
    background-image: url('../img/icons/swap-active.svg');
    margin-bottom: 8px;
    transition: .4s;
}
.icon-text-document {
    background-image: url('../img/icons/text-document.svg');
    transition: .4s;
}
.icon-text-document.active {
    background-image: url('../img/icons/text-document-active.svg');
    margin-bottom: 8px;
    transition: .4s;
}
/* FIM ICONS*/

/* HELPERS */
.p-0 {
    padding: 0!important;
}
.m-0 {
    margin: 0!important;    
}
/* HELPERS */


/* ANIMAÇÕES */
@keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.4;
    }

    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.4;
    }

    to {
        opacity: 1.0;
    }
}

.blink {
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}
/* FIM ANIMAÇÕES */