<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>System LOC - Vue</title>
</head>

<body>
    <div id="app">
        {{ message }}
    </div>

    <div id="app-2">
        <span v-bind:title="message">
          Pare o mouse sobre mim e veja a dica interligada dinamicamente!
        </span>
    </div>

    <div id="app-3">
        <p v-if="seen">Agora você me viu</p>
    </div>

    <div id="app-4">
        <ol>
          <li v-for="todo in todos">
            {{ todo.text }}
          </li>
        </ol>
      </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="./js/app.js"></script>
</body>

</html>