body {
  width: 100%;
  height: 100%;
}

:root {
    --color-main: #00988e;
}

/* ---------------------------------------------------
    MENU STYLE
----------------------------------------------------- */

.logo {
    width:100%;
    max-width: 224px;
    height: auto;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--color-main);
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

/* ---------------------------------------------------
    SIDEBAR MOBILE STYLE
----------------------------------------------------- */

/* ---------------------------------------------------
    PAGE STYLE
----------------------------------------------------- */

/* ---------------------------------------------------
    HELLPERS
----------------------------------------------------- */
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {

}

@media(max-width: 375px) {

}
