/* Modals */
#modalSchedule, #modalScheduleInfos {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#modalSchedule .bg-overlay, #modalScheduleInfos .bg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.38);
    z-index: 10000;
}

#modalSchedule .content, #modalScheduleInfos .content {
    background-color: #fff;
    width: 450px;
    padding: 16px 16px 8px;
    z-index: 10001;
    -webkit-box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
    -webkit-border-radius: 2px;
    border-radius: 2px;
    position: relative;
}

#modalSchedule .btn-close {
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0,0,0,0.54);
    border-radius: 50%;
    position: absolute;
    right: 6px;
    top: 6px;
    transition: .4s;
}
#modalSchedule .btn-close:hover, #modalScheduleInfos .btn-close:hover {
    background-color: #f5f5f5;
    transition: .4s;
}

/* MODAL SCHEDULE */
#modalSchedule #titleSchedule {
    border: 0;
    outline: 0;
    font-size: 24px;
    color: #212121;
    height: 28px;
    margin-left: 35px;
}

#modalSchedule .content .ico--custom {
    width: 35px;
    display: flex;
    align-items: center;
}

#modalSchedule #saveSchedule {
    line-height: 20px;
    min-width: 88px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    font-family : Roboto,Helvetica,Arial,sans-serif;
}

/* MODAL SCHEDULE INFO */

#modalScheduleInfos .content .btn-actions-modal {
    position: absolute;
    right: 6px;
    top: 6px;
    align-items: center;
}

#modalScheduleInfos .content .btn-actions-modal a {
    text-decoration: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0,0,0,0.54);
    border-radius: 50%;
    transition: .4s;
}

#modalScheduleInfos .content .btn-actions-modal a:hover {
    background-color: #f5f5f5;
    transition: .4s;
}

#modalScheduleInfos .content .btn-actions-modal a i {
    color: rgba(0,0,0,0.54);
    font-size: 16px;
}

#modalScheduleInfos .wrapper-infos-edit {
    display: none;
}

#modalScheduleInfos .wrapper-infos {
    margin-top: 15px;
}

#modalScheduleInfos #info-title {
    font-size: 24px;
    line-height: 1.2;
    max-width: 300px;
}

/* CALENDAR HEADER */
#calendar .fc-header-toolbar h2 {
    color: #757575;
}

#calendar .fc-header-toolbar .btn-primary.disabled,
#calendar .fc-header-toolbar.btn-primary:disabled {
    background-color: rgba(0,0,0,0.04);
    border: 0;
    font-weight: 600;
    color: rgba(0,0,0,.5);
    text-transform: uppercase;
}

#calendar .fc-header-toolbar .btn-primary,
#calendar .fc-header-toolbar .btn-primary {
    background-color: rgba(0,0,0,0.08);
    border: 0;
    font-weight: 600;
    color: rgba(0,0,0,.7);
    text-transform: uppercase;
}
/* END CALENDAR HEADER */

/* CALENDAR */
#calendar .fc-day-grid-event {
    padding: 0 4px;
}

#calendar .fc-day-grid-event .fc-title {
    font-weight: 600;
    font-size: 13px;
}

#calendar .fc-day-header span {
    color: #757575;
}

#calendar .fc-day-number {
    color: #212121;
}
/* END CALENDAR */
