body {
  width: 100%;
  height: 100%;
}

/* ---------------------------------------------------
    MENU STYLE
----------------------------------------------------- */
nav.navbar {
  background-color: #1D8C9F;
}

.navbar-nav .nav-item {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-item .nav-link {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-item i {
  font-size: 30px;
  margin-right: 10px;
}

.navbar-nav .nav-item.active .nav-link {
  font-weight: 500;
}

.user-info {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
}

.user-info__name {
  line-height: 1.1;
}

.user-info img {
  width: 50px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-sizing: content-box;
  margin-left: 8px;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.dropdown-menu {
  background-color: #f8f9fa;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #fff;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
  background-color: #f8f9fa;
}

.patient {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 180px;
  border: 1px solid rgba(200, 200, 200, .2);
}

.patient img {
  width: 100%;
  max-width: 100px;
  border: 5px solid white;
  box-sizing: content-box;
  border-radius: 5px;
}

.patient span {
  color: #949494;
}

.patient .age {
  font-size: 14px;
}

.menu-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu-items li {
  width: 100%;
  text-align: center;
  height: 45px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(200, 200, 200, .2);
}

.menu-items li.active {
  background-color: #fff;
}

.menu-items li.active a {
  color: #1D8C9F;
}

.menu-items li:hover {
  background-color: #fff;
}

.menu-items li:hover a {
  color: #1D8C9F;
}

.menu-items li:last-child {
  background-color: #CAE98B;
}
.menu-items li:last-child a {
  color: #4CAF50;
  font-weight: bold;
}

.menu-items li a {
  color: #949494;
  text-decoration: none;
  display: inline-flex;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.menu-items li a i {
  font-size: 22px;
}

.menu-items li a span {
  font-size: 14px;
}

/* ---------------------------------------------------
    SIDEBAR MOBILE STYLE
----------------------------------------------------- */
#sidebar-mobile {
  display: none;
}

/* ---------------------------------------------------
    PAGE STYLE
----------------------------------------------------- */
.action-buttons {
  display: flex;
  justify-content: flex-end;
}

.action-buttons .btn {
  margin-right: 10px;
  color: #fff;
}
.action-buttons .btn:last-child {
  margin-right: 0;
  color: #fff;
}

.action-buttons i {
  margin-right: 5px;
}

.card__title {
  font-size: 1rem;
  color: #999;
}

.custom-form-inline {
  justify-content: flex-end;
  margin-bottom: 5px;
}

.custom-form-inline label {
  margin-right: 10px;
}

.custom-form-inline input {
  width: 100%;
  max-width: 138px;
}

.classification-title {
  background-color: #FFF59D;
  text-align: center;
  color: #595959;
}

.form-control[readonly].answer,
.answer {
  background-color: #81C784;
  color: #2b2b2b;
}

/* ---------------------------------------------------
    FLOAT ACTION BUTTON STYLE
----------------------------------------------------- */
.open .background-overlay {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: .5s;
}

.fab {
  display: none;
  position: fixed;
  bottom: 16px;
  right: 16px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.fab .trigger,
.fab .action {
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.fab .trigger:active,
.fab .action:active {
  opacity: .7;
}

.fab .trigger {
  position: relative;
  background: #1D8C9F;
  color: #fff;
  height: 56px;
  width: 56px;
  line-height: 56px;
  vertical-align: middle;
  font-size: 1.5em;
  z-index: 1;
}

.fab .action {
  position: absolute;
  top: 0;
  margin: 0 8px;
  background: #fff;
  color: #333;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.fab .action i {
  color: #fff;
}

.fab .action.trash-ico {
  background-color: #F44336;
}
.fab .action.save-ico {
  background-color: #4CAF50;
}
.fab .action.edit-ico {
  background-color: #fdd835;
}

.fab .actions {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.fab.open .actions {
  opacity: 1;
}

.fab.open .actions .action:nth-child(1) {
  -webkit-transform: translateY(-48px);
  transform: translateY(-48px);
}

.fab.open .actions .action:nth-child(2) {
  -webkit-transform: translateY(-96px);
  transform: translateY(-96px);
}

.fab.open .actions .action:nth-child(3) {
  -webkit-transform: translateY(-144px);
  transform: translateY(-144px);
}

.fab.open .actions .action:nth-child(4) {
  -webkit-transform: translateY(-192px);
  transform: translateY(-192px);
}

.fab.open .tooltip {
  opacity: 1;
  -webkit-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1);
  right: 64px;
  transition-delay: 0.2s;
}

.fab .tooltip {
  position: absolute;
  top: 50%;
  right: 0;
  width: max-content;
  -webkit-transform: translateY(-50%) scale(0);
  transform: translateY(-50%) scale(0);
  -webkit-transform-origin: right center 0;
  transform-origin: right center 0;
  text-align: right;
  transition: all 0.4s ease;
  opacity: 0;
  color: #fff;
  background-color: #323232;
  padding: 5px;
  font-weight: 600;
  border-radius: 3px;
}

/* ---------------------------------------------------
    HELLPERS
----------------------------------------------------- */
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
  #sidebar-mobile {
    display: block;
  }

  .navbar-collapse {
    height: 80vh;
    overflow: scroll;
  }

  .navbar-nav .nav-item.dropdown {
    display: block;
  }

  .user-info {
    display: none;
  }

  .patient span {
    color: #fff;
  }
  .menu-items li a {
    color: #fff;
  }
  .menu-items li.active a {
    color: #1D8C9F;
  }

  .fab {
    display: block;
  }
}

@media(max-width: 375px) {
  .custom-form-inline input {
    max-width: 85px;
  }
}
