.logo {
    max-width: 180px;
    min-width: 100px;
}

/* Navbar Top */
.navbar-top {
    padding: .5rem 2rem;
    display: flex;
    justify-content: space-between;
}
.navbar-top .nav-item .nav-link {
    padding: 0 .5rem;
    border-right: 1px solid #c9c9c9;
}
.navbar-top .nav-item:nth-child(4) .nav-link {
    border-right: unset;
}
.navbar-top .nav-item.nav-item.call-center {
    display: flex;
    align-items: center;
    margin-left: 10px;
    white-space: nowrap;
}
.navbar-top .nav-item.call-center a {
    border-right: unset;
    font-weight: 600;
    color: #244a87;
    display: inline-block
}
.navbar-top .nav-item.call-center img {
    display: inline-block;
    width: 25px;
}

/* Navbar Bottom */
.navbar-bottom {
    padding: .5rem 2rem;
    background-color: #244a87;
    color: #c9c9c9;
}
.navbar-bottom .nav-item {
    padding: .5rem;
}
.navbar-bottom .nav-item .nav-link {
    color: #c9c9c9;
    padding: 0;
    font-weight: 600;
}
.navbar-bottom .nav-item:hover .nav-link {
    color: #fff;
}
.navbar-bottom .nav-item .nav-link.active {
    color: #c9c9c9;
}
.navbar-bottom .nav-item .nav-link.active:after {
    content: "";
    display: block;
    width: 40px;
    border-bottom: 2px solid #fff;
}

/* Input de Pesquisa */
.icon-search {
    display: inline-block;
    background: url(../images/icon-search.png) no-repeat;
    width: 40px;
    height: 20px;
    background-size: 20px;
}
[for="input-search"] {
    font-weight: 600;
    margin-bottom: 0;
    margin-right: 5px;
    font-size: 15px;
}
.input-search {
    background-color: #2f75bb;
    color: #fff;
    padding: 5px 10px;  
    border-radius: 10px;
    border: unset;
    width: 100%;
    max-width: 240px;
    height: 30px;
}
.input-search::placeholder {
    color: transparent;
}

/* Carousel */
.carousel .carousel-item img {
    max-height: 440px;
}
.carousel .carousel-caption {
    position: absolute;
    top: 40px;
    left: 30px;
    width: 100%;
    max-width: 500px;
}
.carousel .carousel-caption h5{
    padding: 20px;
    background-color: rgba(36, 74, 135, .8);
    color: #fff;
    font-weight: 600;
    font-size: 2rem;
}
.carousel .carousel-caption p{
    padding: 5px;
    background-color: rgba(47, 117, 187, .8);
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}
.carousel-indicators {
    bottom: unset;
    padding: 10px;
    justify-content: flex-end;
}
.carousel-indicators.carousel-indicators--top {
    top: -35px;
}
.carousel-indicators li {
    background-color: #244a87;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 8px;
}
.carousel-indicators li.active {
    background-color: #244a87;
}
.carousel-indicators li.active:before {
    top: -7px;
    left: -7px;
    border: 3px solid #acc8e4;
    border-radius: 50%;
    padding: 12px;
}
.carousel-control-prev-icon {
    background-image: url('../images/control-prev-icon.png');
    width: 50px;
    height: 50px;
}
.carousel-control-next-icon {
    background-image: url('../images/control-next-icon.png');
    width: 50px;
    height: 50px;
}

/* Article - Padrão dos artigos */
.article-image img {
    width: 100%;
    height: 220px;
}
.article-title {
    text-align: center;
    font-size: 1rem;
    color: #2f75bb;
}
.article-paragraph {
    text-align: justify;
    font-size: 0.9rem;
    color: #244a87;
}

/* Exames */
.exams {}

/* Menu Exames */
.menu-exams {

}
.menu-exams__block {
    background-color: #2f75bb;
    padding: 15px 0;
}
.menu-exams__block.menu-exams__block--bg-color {
    background-color: #244a87;
}
.menu-exams__block a {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: unset;
    display: block;
}
.menu-exams__block figure {
    margin-bottom: 5px;
}
.menu-exams__block img {
    max-width: 80px;
}

/* Sobre o IMEB / Banners */
.about-imeb__banners-wrap {
    display: flex;
    justify-content: center
}
.about-imeb__banners-wrap figure {
    margin: 10px;
}
.about-imeb__banners-wrap img {
    width: 100%;
    max-width: 250px;
}

/* O que estão falando sobre o IMEB */
.talking-about-imeb figure {
    margin-bottom: 0;
}
.talking-about-imeb__text span{
    float: right;
    color: #244a87;
    font-weight: 600;
}

/* Unidades / Filiais */
.units-imeb__companies {
    overflow-y: scroll;
    max-height: 420px;
}
.units-imeb__companies > div {
    cursor: pointer;
    padding: 5px;
}
.units-imeb__companies > div:hover {
    background-color: rgba(201,201,201, .35);
}
.units-imeb__companies::-webkit-scrollbar {
    width: 1.5em;
}
 
.units-imeb__companies::-webkit-scrollbar-track {
    background-color: #e1e1e1;
    border: solid 1px #2f75bb;
}
 
.units-imeb__companies::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 15px;
    background-color: rgba(47, 117, 187, 1);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
.units-imeb__companies h3 {
    font-size: 1.2rem;
    margin-bottom: 0;
    color: #244a87;
}
.units-imeb__companies p {
    color: #244a87;
}

/* Fale Conosco */
.contact-us figure {
    margin: 0;
}
.contact-us figure img {
    max-height: 370px;
}
.contact-us__content {
    background: url('../images/bg-forms.jpg');
}
.contact-us__content h3 {
    font-size: 2rem;
    color: #fff;
    max-width: 640px;
    margin: 0 auto;
}
.contact-us__form {
    max-width: 440px;
    width: 100%;
}
.contact-us__form-group .ico {
    margin-right: 10px;
}
.contact-us__form-group label {
    width: 90px;
    color: #fff;
}
.contact-us__form-group input {
    border-radius: 10px;
    border: none;
}
.contact-us__form-group input[type="text"] {
    width: 100%;
    max-width: 300px;
    padding: 3px 10px;
}
.contact-us__textarea {
    display: flex;
    justify-content: space-between;
}
.contact-us__textarea textarea {
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    padding: 3px 10px;
}
.contact-us__form input[type="submit"] {
    cursor: pointer;
    background-color: #fff;
    color: #244a87;
    font-weight: 600;
    padding: 3px 20px;
}

/* Newslatter */
.newslatter {
    background-color: #0054a6;
    position: relative;
}
.newslatter__text {
    position: unset;
}
.newslatter__text h2 {
    color: #fff;
    text-transform: uppercase;
}
.newslatter__text span {
    width: 100%;
    max-width: 370px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
}
.newslatter__text p {
    color: #fff;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 600;
}
.newslatter__input {
    display: flex;
    align-items: center;
}
.newslatter__input span {
    margin-right: 8px;
}
.newslatter__input span img {
    width: 30px;
}
.newslatter__input input {
    width: 100%;
    max-width: 320px;
    border-radius: 15px;
    outline: none;
    border-color: transparent;
    padding: 5px 15px;
    margin-right: 10px;
    color: #2f75bb;
}
.newslatter input::placeholder {
    color: #2f75bb;
    font-size: 14px;
  }
.newslatter__input a {
    color: #fff;
    font-weight: 600;
    background-color: #2f75bb;
    text-decoration: none;
    padding: 5px 25px;
    border-radius: 15px;
}

/* Footer */
.footer {
    background: url('../images/bg-footer.jpg');
}
.footer ul {
    padding-left: 0;
    margin-bottom: 0;
}
.footer li {
    color: #fff;
    list-style: none;
    font-weight: 600;
    text-transform: uppercase;
}
.footer li a {
    font-weight: 400;
    text-transform: initial;
    display: unset;
}
.footer a {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}

.footer p {
    margin-bottom: 0;
    color: #fff;
    font-weight: 400;
    text-transform: initial;
}

.copyright {
    background-color: #fff;
}
.copyright p {
    color: #2f75bb;
    font-weight: 600;
}
.copyright img {
    max-width: 80px;
}

/* Helpers */
.section-title h2 {
    color: #244a87;
    margin-bottom: .5rem;
    line-height: 1;
    text-transform: uppercase;
}
.section-title h2 span {
    display: block;
    color: #2f75bb;
    line-height: 1;
}
.border-title:after {
    content: "";
    display: block;
    width: 100%;
    max-width: 350px;
    border-bottom: 2px solid #2f75bb;
}
.max-w-100.border-title:after {
    max-width: unset;
}

/* Icons */
.ico {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: 30px;
    background-repeat: no-repeat
}

.ico-name {
    background-image: url('../images/ico-name.png');
}
.ico-email {
    background-image: url('../images/ico-email.png');
}
.ico-telephone {
    background-image: url('../images/ico-telephone.png');
}
.ico-subject {
    background-image: url('../images/ico-subject.png');
}
.ico-message {
    background-image: url('../images/ico-message.png');
}
.ico-submit {
    background-image: url('../images/ico-submit.png');
}

@media (max-width: 925px) {
    .navbar-bottom .nav-item .nav-link {
        font-size: 0.8rem;
        white-space: nowrap;
    }
}

@media (max-width: 767.98px) { 
    .about-imeb__paragraph {
        order: 12;
    }
    .about-imeb__carousel {
        order: 1;
    }
 }

@media (max-width: 575.98px) {
    /* HELPERS */
    .section-title h2 {
        padding-left: 15px;
    }

    /* Sessão sobre o IMEB */
    .talking-about-imeb-image {
        display: flex;
        justify-content: center;
    }

    /* Sessão unidades */
    .units-imeb__companies::-webkit-scrollbar {
        width: 0.8em;
    }
    .units-imeb__companies::-webkit-scrollbar-track {
        border: unset;
    }

    /* Newslatter */
    .newslatter__input input {
        max-width: 200px;
    }

    /* Pesquisa */
    .icon-search {
        width: 30px;
    }
    [for="input-search"] {
        display: none;
    }
    .input-search::placeholder {
        color: #fff;
    }

    /* menu exames */
    .menu-exams__block a {
        font-size: 0.7rem;
    }

    /* Formulário de contato */
    .contact-us__content h3 {
        font-size: 1.3rem;
    }
    .contact-us__form-group {
        display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    }
    .contact-us__form-group input[type="text"] {
        display: block;
        margin: 5px 0;
    }
    .contact-us__textarea {
        flex-wrap: wrap;
    }
    
}